<div class="center manager-container">
  <div class="button-list-container">
    <div class="army-list-add-delete-container">
      <button class="button" (click)="createArmy()">Create army</button>
      <button class="button" (click)="deleteArmy(selectedArmy)">Delete army</button>
    </div>
    <div class="army-list-container">
      <div class="scrollhider">
        <div (click)="selectArmy(a)" class="army-list-item-container"
             [ngClass]="{'active': a == selectedArmy}" *ngFor="let a of armies; let i = index">
          {{i + 1}} - {{a.name}}: {{a.bp}}
        </div>
      </div>
    </div>
  </div>

  <div class="army-editor-container">
    <div class="piece-select-current-pieces-container">
      <div class="current-army-container">
        <div class="scrollhider">
          <div *ngFor="let p of selectedArmy.pieces;" style="width: 30em;">
            <div *ngIf="selectedArmy.pieces.indexOf(p) % 8 == 0;" style="display: flex">
              <div *ngFor="let num of [0,1,2,3,4,5,6,7]">
                <div *ngIf="selectedArmy.pieces[(selectedArmy.pieces.indexOf(p) + num)]"
                     (click)="openPieceEdit(selectedArmy.pieces[(selectedArmy.pieces.indexOf(p) + num)])" class="piece-container">
                  Cost: {{selectedArmy.pieces[(selectedArmy.pieces.indexOf(p) + num)].bp}}
                  <img class="piece" [src]="selectedArmy.pieces[(selectedArmy.pieces.indexOf(p) + num)].image"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="add-piece-container">
        <div class="text">
          Piece types
        </div>
        <button class="piece-button" (click)="addPiece('King')">
          <img class="piece" src="../../assets/pieces/black/256/black-king-256.png"/>
        </button>

        <button class="piece-button" (click)="addPiece('Queen')">
          <img class="piece" src="../../assets/pieces/black/256/black-queen-256.png"/>
        </button>

        <button class="piece-button" (click)="addPiece('Knight')">
          <img class="piece" src="../../assets/pieces/black/256/black-knight-256.png"/>
        </button>

        <button class="piece-button" (click)="addPiece('Bishop')">
          <img class="piece" src="../../assets/pieces/black/256/black-bishop-256.png"/>
        </button>

        <button class="piece-button" (click)="addPiece('Rook')">
          <img class="piece" src="../../assets/pieces/black/256/black-rook-256.png"/>
        </button>

        <button class="piece-button" (click)="addPiece('Pawn')">
          <img class="piece" src="../../assets/pieces/black/256/black-pawn-256.png"/>
        </button>
      </div>
    </div>
    <div class="piece-editor-container" *ngFor="let p of pieceEditList">
      <div class="piece-editor-picture-container">
        Cost: {{p.bp}}
        <div class="piece-editor-picture">
          <img class="piece" [src]="p.image"/>
        </div>
      </div>
      <div class="stat-buttons">
        <div class="add-sup-container">
          <button (click)="extendMove(p, 1)" class="edit-button">+</button>
          <button (click)="extendMove(p, -1)" class="edit-button">-</button>
        </div>
        <div class="add-sup-container">
          <button (click)="addHpToPiece(p, 1)" class="edit-button">+</button>
          <button (click)="addHpToPiece(p, -1)" class="edit-button">-</button>
        </div>
        <div class="add-sup-container">
          <button (click)="addAtToPiece(p, 1)" class="edit-button">+</button>
          <button (click)="addAtToPiece(p, -1)" class="edit-button">-</button>
        </div>
      </div>
      <div class="piece-stat-container">
        <div class="stat">
          Piece type: {{p.name}}
        </div>
        <div class="stat">
          Move distance: {{p.mp}}
        </div>
        <div class="stat">
          Hitpoints: {{p.hitpoints}}
        </div>
        <div class="stat">
          Attack damage: {{p.attack}}
        </div>
      </div>
      <div class="stat-button-container">
        <div>
          <button (click)="copyPiece(p)" class="copy-button">Copy piece</button>
          <button (click)="deletePiece(p)" class="delete-button">Delete piece</button>
        </div>
        <div class="move-box" (mouseenter)="bigBoardInactive = false" (mouseleave)="bigBoardInactive = true">
          <div class="miniOrBigBoard" *ngIf="bigBoardInactive">
            <div *ngFor="let r of miniBoard;">
              <div class="field" [ngClass]="{'active': n == 1, 'origin': n == 2}" *ngFor="let n of r"></div>
            </div>
          </div>
          <div class="miniOrBigBoard" *ngIf="bigBoardInactive === false">
            <div *ngFor="let r of bigBoard;">
              <div *ngFor="let n of r">
                <div class="field" [ngClass]="{'active': n == 1,
                                               'origin': n == 2,
                                               'big': n == 3}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="name-button-army-points">
      <input #nameBox class="name-field" [(ngModel)]="armyBeingEdited.name">
      <button class="save-button" (click)="saveArmy(armyBeingEdited)">Save army</button>
      <div class="army-points">Army points: {{armyBeingEdited.bp}}</div>
    </div>
  </div>

  <div class="global-settings-container">

  </div>
</div>