<div class="center manager-container">
  <div class="button-list-container">
    <div class="army-list-add-delete-container">
      <button class="button" (click)="createArmy()">Create army</button>
      <button class="button" (click)="deleteArmy(selectedArmy)">Delete army</button>
    </div>
    <div class="army-list-container">
      <div (click)="selectArmy(a)" class="army-list-item-container"
           [ngClass]="{'active': a == selectedArmy}" *ngFor="let a of armies; let i = index">
        {{i + 1}} - {{a.name}}: {{a.bp}}
      </div>
    </div>
  </div>

  <div class="army-editor-container">
    <div class="current-army-container">
      <div class="piece-container" *ngFor="let p of selectedArmy.pieces;">
        Cost: {{p.bp}}
        <img height="65px" [src]="p.image" />
      </div>
    </div>
    <div class="piece-editor-container">
    </div>
    <div class="name-button-army-points">
      <input #nameBox class="name-field" [(ngModel)]="armyBeingEdited.name">
      <button class="save-button" (click)="saveArmy(armyBeingEdited)">Save army</button>
      <div class="army-points">Army points: {{armyBeingEdited.bp}}</div>
    </div>
  </div>

  <div class="piece-type-container">
    <button class="piece" (click)="addPiece('King')">
      <img height="65px" src="../../assets/pieces/black/256/black-king-256.png" />
    </button>

    <button class="piece" (click)="addPiece('Queen')">
      <img height="65px" src="../../assets/pieces/black/256/black-queen-256.png" />
    </button>

    <button class="piece" (click)="addPiece('Knight')">
      <img height="65px" src="../../assets/pieces/black/256/black-knight-256.png" />
    </button>

    <button class="piece" (click)="addPiece('Bishop')">
      <img height="65px" src="../../assets/pieces/black/256/black-bishop-256.png" />
    </button>

    <button class="piece" (click)="addPiece('Rook')">
      <img height="65px" src="../../assets/pieces/black/256/black-rook-256.png" />
    </button>

    <button class="piece" (click)="addPiece('Pawn')">
      <img height="65px" src="../../assets/pieces/black/256/black-pawn-256.png" />
    </button>
  </div>
</div>