<div class="center manager-container">
  <div class="button-list-container">
    <div class="army-list-add-delete-container">
      <button class="button" (click)="createArmy()">Create army</button>
      <button class="button" (click)="deleteArmy(selectedArmy)">Delete army</button>
    </div>
    <div class="army-list-container" id="scrollArea" ng-controller="ScrollController">
      <a ng-click="gotoBottom()"></a>
      <div (click)="selectArmy(a)" class="army-list-item-container"
           [ngClass]="{'active': a == selectedArmy}" *ngFor="let a of armies; let i = index">
        {{i + 1}} - {{a.name}}: {{a.bp}}
      </div>
      <a id="bottom"></a>
    </div>
  </div>
  <div class="army-editor-container">
    <div class="current-army-container">

    </div>
    <div class="piece-editor-container">

    </div>
    <button class="save-button" (click)="saveArmy()">Save army</button>
  </div>
  <div class="piece-type-container">

  </div>
</div>