.manager-container {
    height: 40em;
    width: 60em;
    background: lightgray;
    border: solid darkgray;
    margin-top: 3em;
    display: flex;
}
.army-list-container {
    height: 36em;
    width: 15em;
    background: lightgray;
    border: solid darkgray;
    margin: 2em;
}
.army-list-item-container,
.army-list-add-delete-container {
    display: flex;
    height: 3em;
    width: 15em;
    background: lightgray;
    border: solid darkgray;
    margin-left: -0.15em;
    margin-right: -0.15em;
    margin-top: -0.15em;
}
.army-list-item-container.active {
    font-weight: bold;
}

.button {
    height: 3.6em;
    width: 9em;
}
.save-button {
    height: 3.6em;
    width: 9em;
}
.army-editor-container {
    height: 36em;
    width: 39em;
    background: lightgray;
    text-align: center;
    border: solid darkgray;
    margin-top: 2em;
    margin-bottom: 2em;
}
.piece-type-container {
    height: 36em;
    width: 5em;
    background: lightgray;
    border: solid darkgray;
    margin-left: -0.15em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
}
.current-army-container {
    height: 13em;
    background: lightgray;
    border: solid darkgray;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    margin-left: 2em;
}
.piece-editor-container {
    height: 15em;
    background: lightgray;
    border: solid darkgray;
    margin-right: 2em;
    margin-left: 2em;
    margin-bottom: 0.25em;
}