.manager-container {
  height: 38em;
  width: 60em;
  background: #c99552;
  border: solid #966527;
  margin-top: 3em;
  display: flex;
}

.button-list-container {
  height: 36.3em;
  width: 12.5em;
  margin: 1em;
  border: solid #966527;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.army-list-container {
  height: 33.3em;
  width: 12.5em;
  background: burlywood;
  border-top: solid #966527;
  border-bottom: solid #966527;
  padding-top: 0.1em;
}

.army-list-item-container {
  display: flex;
  height: 2.5em;
  width: 12em;
  background: burlywood;
  border-bottom: solid #966527;
  align-items: center;
  cursor: pointer;
  padding-left: 0.5em;
}

.army-list-add-delete-container {
  display: flex;
  height: 2.5em;
  width: 12.5em;
  background: #966527;
  border-top: solid #966527;
  border-left: solid #966527;
  border-right: solid #966527;
}

.army-list-item-container.active {
  font-weight: bold;
}

.button,
.save-button {
  border-top: solid #af6d16;
  border-left: solid #af6d16;
  border-right: solid #8e5408;
  border-bottom: solid #8e5408;
  background: #ddaa6a;
  height: 3em;
}

.button {
  width: 50%;
}

.army-editor-container {
  height: 36em;
  width: 39em;
  background: burlywood;
  text-align: center;
  border: solid #966527;
  margin-top: 1em;
  margin-bottom: 1em;
}

.global-settings-container {
  height: 36em;
  width: 5em;
  background: burlywood;
  border: solid #966527;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.15em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.current-army-container {
  overflow: hidden;
  height: 21.35em;
  width: 30em;
  background: burlywood;
  border: solid #966527;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.add-piece-container {
  display: flex;
  flex-wrap: wrap;
  height: 21.35em;
  width: 6.5em;
  background: burlywood;
  border: solid #966527;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: -0.15em;
}

.text {
  width: 100%;
  text-align: center;
  margin-top: 0.3em;
}

.piece-editor-container {
  height: 9em;
  display: flex;
  background: burlywood;
  border: solid #966527;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 0.25em;
}

.piece-editor-picture-container {
  height: 6.25em;
  width: 5.5em;
  background: burlywood;
  border: solid #966527;
  margin: 1em;
  padding-top: 0.5em;
}

.piece-stat-container {
  height: 6.25em;
  width: 13em;
  margin-top: 1.75em;
  margin-bottom: 2em;
  padding-top: 0.5em;
}

.stat {
  text-align: left;
  margin: 0.3em;
}

.piece-editor-picture {
  height: 5em;
  width: 5.5em;
  background: burlywood;
}

.piece-button {
  height: 25%;
  width: 50%;
  background: burlywood;
  border: none;
  cursor: pointer;
}

.army-points {
  width: 12em;
  border: solid #966527;
  margin-left: 0.5em;
}

.name-button-army-points {
  display: inline-flex;
  height: 2.5em;
  align-items: center;
}

.name-field {
  width: 12em;
  height: 1.5em;
  margin-right: 0.5em;
  padding-left: 0.25em;
  border: solid #966527;
  background: #f2e4d2;
}

.piece-container {
  height: 33.333%;
  width: 3.7em;
  align-items: center;
}

.piece {
  height: 3.75em;
  cursor: pointer;
}

.stat-button-container {
  display: flex;
  height: 6.25em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: right;
  margin-right: 1em;
}

.stat-buttons {
  margin-top: 1.4em;
  margin-bottom: 2em;
  width: 3em;
  padding-top: 2.5em;
}

.edit-button {
  height: 1.5em;
  margin-top: 0.15em;
  border-top: solid #af6d16;
  border-left: solid #af6d16;
  border-right: solid #8e5408;
  border-bottom: solid #8e5408;
  background: #ddaa6a;
}

.copy-button {
  margin-right: 1em;
  height: 1.5em;
  margin-top: 0.05em;
  width: 7.5em;
  border-top: solid #af6d16;
  border-left: solid #af6d16;
  border-right: solid #8e5408;
  border-bottom: solid #8e5408;
  background: #ddaa6a;
}

.delete-button {
  margin-right: 1em;
  height: 1.5em;
  margin-top: 5.325em;
  width: 7.5em;
  border-top: solid #af6d16;
  border-left: solid #af6d16;
  border-right: solid #8e5408;
  border-bottom: solid #8e5408;
  background: #ddaa6a;
}

.piece-select-current-pieces-container {
  display: flex;
}

.add-sup-container {
  display: flex;
}

.move-box {
  height: 6.75em;
  width: 6.75em;
  margin-bottom: 0.5em;
  display: flex;
}

.field {
  height: 0.575em;
  width: 0.575em;
  border: solid #966527;
  position: relative;
  background: burlywood;
}

.field.active {
  background: brown;
}

.field.origin {
  background: black;
}

.field.big {
  background: darkred;
}

.miniOrBigBoard {
  display: flex;
}

.scrollhider {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 40px;
}