.manager-container {
  height: 40em;
  width: 60em;
  background: lightgray;
  border: solid darkgray;
  margin-top: 3em;
  display: flex;
}

.button-list-container {
  height: 36.3em;
  width: 12.5em;
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.army-list-container {
  height: 33.3em;
  width: 12.5em;
  background: lightgray;
  border: solid darkgray;
  overflow: hidden;
  margin-bottom: 0.15em;
  overflow-y: auto;
}

.army-list-item-container {
  display: flex;
  height: 2.5em;
  background: lightgray;
  border-bottom: solid darkgray;
  align-items: center;
}

.army-list-add-delete-container {
  display: flex;
  height: 2.5em;
  width: 12.5em;
  background: lightgray;
  border-top: solid darkgray;
  border-left: solid darkgray;
  border-right: solid darkgray;
}

.army-list-item-container.active {
  font-weight: bold;
}

.button,
.save-button {
  height: 3em;
}

.button {
  width: 50%;
}

.army-editor-container {
  height: 36em;
  width: 39em;
  background: lightgray;
  text-align: center;
  border: solid darkgray;
  margin-top: 2em;
  margin-bottom: 2em;
}

.piece-type-container {
  height: 36em;
  width: 5em;
  background: lightgray;
  border: solid darkgray;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.15em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 2em;
}

.current-army-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 17.5em;
  background: lightgray;
  border: solid darkgray;
  margin-top: 2em;
  margin-bottom: 1.85em;
  margin-right: 2em;
  margin-left: 2em;
  overflow-y: auto;
}

.piece-editor-container {
  height: 11em;
  display: flex;
  background: lightgray;
  border: solid darkgray;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 0.25em;
}

.piece-editor-picture-container {
  height: 6.25em;
  width: 5.5em;
  background: lightgray;
  border: solid darkgray;
  margin: 2em;
  padding-top: 0.5em;
}

.piece-stat-container {
  height: 6.25em;
  width: 17em;
  margin-top: 2.75em;
  margin-bottom: 2em;
  padding-top: 0.5em;
}

.stat {
  text-align: left;
  margin: 0.3em;
}

.piece-editor-picture {
  height: 5em;
  width: 5.5em;
  background: lightgray;
}

.piece-button {
  height: 16.666%;
  width: 100%;
  background: lightgray;
  border: none;
}

.army-points {
  width: 12em;
  border: solid darkgray;
  margin-left: 0.5em;
}

.name-button-army-points {
  display: inline-flex;
  height: 2.5em;
  align-items: center;
}

.name-field {
  width: 12em;
  height: 1.5em;
  margin-right: 0.5em;
}

.piece-container {
  height: 5em;
  width: 4.2em;
  align-items: center;
  margin: 0.3em;
}

.piece {
  height: 3.75em;
}

.stat-button-container {
  height: 6.25em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.stat-buttons {
  margin-top: 1.4em;
  margin-bottom: 2em;
}

.edit-button {
  height: 1.5em;
  width: 13.5em;
  margin-top: 0.15em;
}

.delete-button {
  height: 1.5em;
  margin-left: 7em;
}