.login-container {
  height: 20em;
  width: 30em;
  background: lightgray;
  text-align: center;
  border: solid darkgray;
  margin-top: 3em;
}

.login-content {
  padding: 25px;
  font-size: 24px;
  font-weight: bold;
}