<div class="center main">
  <h1>{{title}}</h1>
  <hr/>
  <h3 class="statusLineLeft">Current player count: {{playerCount}}</h3>
  <h3 class="statusLineRight">Logged in as: {{userName}}</h3>
  <hr class="clear"/>

  <div class="separator"></div>

  <div class="center buttons">
    <button (click)="router.navigateByUrl('queue')">Queue up</button>
    <button (click)="router.navigateByUrl('game')">Local Game</button>
    <button (click)="router.navigateByUrl('manager')">Manage Armies</button>
    <button (click)="logOut()">Log out</button>
  </div>

  <div class="separator"></div>

  <object height="250px" data="../../assets/pieces/black/black-king-resource.svg" type="image/svg+xml">
    <img src="../../assets/pieces/black/256/black-king-256.png" />
  </object>

</div>
