.board {
    margin-top: 3em;
    height: 768px;
    width: 768px;
}
.cells {
    display: inline-grid;
}

.row {
    display: inline-flex;
}

.cell-container {
    margin: 0;
}

.leftBox, .rightBox {
  margin-left: 10em;
  margin: 5em;
  width: 7em;
  padding: 1em;
  background-color: #DEB888;
  border: 5px;
  border-style: solid;
  border-radius: 15px;
  border-color: saddlebrown;
  display: block;
}

.rightBox {
  margin-right: 10em;
}

.piece {
  padding: 1ex;
}

.game {
  width: 75%;
}
