.game {
    width: 75%;
    margin-top: 3em;
}

.sides-and-board {
    display: inline-flex;
}

.board {
    height: 40em;
    width: 40em;
}

.cells {
    display: inline-grid;
}

.row {
    display: inline-flex;
}

.cell-container {
    margin: 0;
}

.leftBox, .rightBox {
    margin: 0 2em;
    overflow: hidden;
}
.pieceBox, .pieceBoxHalf {
  padding: 1em;
  background-color: #DEB888;
  border: 0.25em;
  border-style: solid;
  border-radius: 15px;
  border-color: saddlebrown;
  height: 37.5em;
  width: 10.94em;
}
.pieceBoxHalf{
  height: 16em;
  margin: 1ex;
}

.pieceBox.active{
    border-color: limegreen;
}

.monitorBox{
  padding: 1em;
  background-color: lightgray;
  border: 0.25em;
  border-style: solid;
  border-radius: 15px;
  border-color: gray;
  height: 16em;
  width: 10.94em;
  margin: 1ex;
}
.moveTracker{
  margin: auto;
  border: 1px solid black;
}

tr:nth-child(odd) {background-color: #f2f2f2; color:black;}
tr:nth-child(even) {background-color: #424242; color:white;}
td, th, tr{
  text-align: center;
  width: 5em;
  padding: 1ex;
}
.piece-editor-picture {
  height: 5em;
  width: 5.5em;
  margin-left: 2em;
  display: block;
}

.piece-editor-picture-container {
  height: 6.25em;
  width: 5.5em;
  background: lightgray;
  border: solid darkgray;
  margin: 1ex;
  padding-top: 0.5ex;
}

.piece-stat-container {
  height: 6.25em;
  width: 17em;
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.stat {
  text-align: left;
  margin: 0.3em;
}


.collapse{
    visibility: collapse;
    display: none;
}

.scrollhider {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 40px;
}

.pieceContainer {
    text-align: center;
    height: 5em;
    width: 5em;
    display: inline-block;
}
