<div class="center game">
  <div class="sides-and-board">
    <div class="leftBox">
        <div *ngFor="let p of whiteArmy" class="pieceContainer">
            <img draggable class="piece" [src]="p.image" />
        </div>
    </div>

    <div class="board">
        <div class="cells">
            <div class="row" *ngFor="let row of board; let i = index">
                <div class="cell-container" *ngFor="let cell of row; let j = index">
                    <app-cell [cell]="cell"></app-cell>
                </div>
            </div>
        </div>
    </div>

    <div class="rightBox">
        <div *ngFor="let p of blackArmy" class="pieceContainer">
            <img draggable class="piece" [src]="p.image" />
        </div>
    </div>
  </div>
</div>
