.game {
    width: 75%;
    margin-top: 3em;
}

.sides-and-board {
    display: inline-flex;
}

.board {
    height: 40em;
    width: 40em;
}
.cells {
    display: inline-grid;
}

.row {
    display: inline-flex;
}

.cell-container {
    margin: 0;
}

.leftBox, .rightBox {
    margin: 0 2em;
    padding: 1em;
    background-color: #DEB888;
    border: 0.25em;
    border-style: solid;
    border-radius: 15px;
    border-color: saddlebrown;
    height: 37.5em;
    width: 5em;
    overflow-y: hidden;
}


.rightBox {
  margin-right: 10em;
}

.pieceContainer {
    text-align: center;
    height: 5em;
    width: 5em;
}
.piece {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: auto;
    padding-right: auto;
    height: 4em;
}

