/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/ng2-drag-drop/style.css");

body {
  background: beige;
}

.drag-border {
  border: 0;
  visibility: hidden;
}

.drag-handle {
  /*background: transparent;*/
}
.drag-transit {
  background: transparent;
  border: 0;
}



.center {
    margin: auto;
}

.buttons {
  width: 10em;
}

.buttons button {
  text-align: center;
  padding: 1ex;
  margin: 1ex;
  width: 10em;
}

.statusLineLeft {
  display: inline-block;
  float: left;
}
.statusLineRight {
  display: inline-block;
  float: right;
}

.clear {
  clear: both;
}

.separator {
  height: 3em;
}

.main {
  width: 30em;
  padding: 1em;
  margin-top: 3em;
  background-color: lightgrey;
  border: 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

.cell {
  height: 96px;
  width: 96px;
  border-style: solid;
  border-color: black;
  border: 1px;
}

.piece {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: auto;
  padding-right: auto;
  height: 4em;
}