/* You can add global styles to this file, and also import other style files */

.center {
    margin: auto;
}

.buttons {
  width: 10em;
}

.buttons button {
  text-align: center;
  padding: 1ex;
  margin: 1ex;
}

.main {
  width: 30%;
}
